<div class="content-section">
  <h1>{{title}}</h1>
  <p>As maiores fazendas de morangos do mundo.</p>
  <p>Países como Estados Unidos, México e Espanha lideram a produção global de morangos.</p>
</div>
<div class="content-section">
  <div class="image-space">
    <!-- Espaço para imagens -->
    <img src="/images/Fazenda.jpg" alt="Fazendas de morangos" />
  </div>
</div>