<div class="content-section">
  <h1>{{title}}</h1>
  <p>Bem-vindo ao site sobre {{title}}</p>
  <p>O morango (Fragaria × ananassa) é uma fruta vermelha, suculenta e doce, cultivada em todo o mundo. É rica em vitamina C e antioxidantes.</p>
</div>
<div class="content-section">
  <div class="image-space">
    <!-- Espaço para imagens -->
    <img src="/images/morango.png" alt="Morangos" />
  </div>
</div>
