<div class="content-section">
  <h1>{{title}}</h1>
  <p>Receita especial de morango do amor.</p>
  <p>Uma delícia que conquista corações.</p>
</div>
<div class="content-section">
  <div class="image-space">
    <!-- Espaço para imagens -->
    <img src="/images/morangodo-amor.jpg" alt="Morango do Amor" />
  </div>
</div>
