<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="decoracao">
      <div class="grama"></div>
      <span class="inseto inseto1"></span>
      <span class="inseto inseto2"></span>
      <span class="inseto inseto3"></span>
      <span class="inseto inseto4"></span>
      <span class="inseto inseto5"></span>
    </div>
    <div class="page">
      <nav>
        <a href="/">Grama</a>
        <a href="/predadores">Predadores</a>
        <a href="/produtos">Produtos</a>
      </nav>
    <div class="content-section">
      <h1><%= title %></h1>
      <p>Informações sobre os pesticidas utilizados no controle de pragas da grama santo agostinho.</p>
      <p>Pesticidas :P.</p>
    </div>
    <div class="content-section">
      <div class="image-space">
        <!-- Espaço para imagens -->
        <img src="/images/pesticidas.jpg" alt="Pesticidas para grama santo agostinho" />
      </div>
    </div>
  </div>
  </body>
</html>