extends layout

block content
  .container
    .card
      h2 Culinária com Baiacus
      p O baiacu é considerado uma iguaria especial em algumas culturas, mas requer especialistas qualificados no preparo devido à toxina.
      img(src='/images/culinaria.jpg', alt='Culinária do Baiacu')
    .card
      h2 Preparação Tradicional
      p Em alguns países, chefs especializados preparam pratos tradicionais com baiacu, removendo cuidadosamente as partes tóxicas.
      img(src='/images/preparo.jpg', alt='Preparação Tradicional')
