extends layout

block content
  .container
    .card
      h2 Culinária com Baiacus
      p O baiacu é considerado uma iguaria especial em algumas culturas, mas requer especialistas qualificados no preparo devido à toxina.
      img(src='/images/sushibaiacu.jpg', alt='Culinária do Baiacu')
      p O baiacu é preparado por chefs treinados que sabem como remover as partes tóxicas, garantindo uma experiência culinária segura e deliciosa.