extends layout

block content
  .container
    .card
      h2 Bem-vindo aos Baiacus
      p Os baiacus são peixes fascinantes conhecidos por sua capacidade única de inchar quando se sentem ameaçados.
      img(src='/images/baiacu.jpg', alt='Baiacu')
    .card
      h2 Características
      p Possuem corpos redondos, olhos grandes e podem inflar-se com água ou ar, dobrando de tamanho em segundos.
      img(src='/images/anatomia.jpeg', alt='Características do Baiacu')
