doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href='/') Baiacus
      a(href='/parentes') Parentes
      a(href='/culinaria') Culinária
    block content
