extends layout

block content
  .container
    .card
      h2 Parentes dos Baiacus
      p Os baiacus pertencem à família Tetraodontidae e possuem vários parentes próximos em diferentes oceanos ao redor do mundo.
      img(src='/images/parentes.jpg', alt='Parentes dos Baiacus')
